* {
    border: 1px solid transparent;
}

body {
    padding: 2em;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    text-align: center;
}

.answer {
    margin-top: 0.5em;
    padding: 0.25em;
    border-radius: 5px;
}

.question {
    margin-top: 0.5em;
    padding: 0.25em;
}

.answer:hover {
    border: 1px solid red;
}

.container {
    border: 1px solid black;
    border-radius: 20px;
    padding: 1em;
    box-shadow: 5px 5px 30px 5px;
}

#row-central {
    padding: 1em;
}

div#answers,
div#rooster {
    border-left: 1px solid;
}